input[type=text], input[type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

a:LINK {
	color: red;
}

a:HOVER {
	color: blue;
	text-decoration: underline;
}

a {
	text-decoration: none;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

button:HOVER {
	opacity: 0.8;
}

.container {
	padding: 16px;
}

.main {
	border: 3px solid #f1f1f1;
}