<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>FinalWeb04</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>ControllerServlet</display-name>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>com.web.controller.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userHome</servlet-name>
		<jsp-file>/WEB-INF/jsp/userHome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>userHome</servlet-name>
		<url-pattern>/userHome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>administratorHome</servlet-name>
		<jsp-file>/WEB-INF/jsp/administratorHome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>administratorHome</servlet-name>
		<url-pattern>/administratorHome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateBook</servlet-name>
		<jsp-file>/WEB-INF/jsp/updateBook.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBook</servlet-name>
		<url-pattern>/updateBook</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.web.listener.ContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/user_login?useSSL=false</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>hashLine</param-name>
		<param-value>Lot of Magic Added</param-value>
	</context-param>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>com.web.filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.web.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/administratorHome</url-pattern>
		<url-pattern>/userHome</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>com.web.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/administratorHome</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>401</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>